/*----- CSS Reset -----*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: lem;
}

/*----- MAIN STYLING -----*/
body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: #EFF2F7;
  color: #333;
  font-family: "Roboto", sans-serif;
}

/*----- TYPOGRAPHY  -----*/
h1, h2 {
  font-weight: bolder;
  color: #727275;
  text-align: center;
}

p {
  margin-bottom: 1.5em;
  font-size: 1.7em;
  color:#333;
  font-family: "Raleway",sans-serif;
}

b {
  color: #8DC2E5;
}

h1, h2, nav, blockquote, footer {
  font-family: "Italiana",serif;
}

h1 {
  font-size: 3.827em;
  margin-top: 1.2em;
  margin-bottom: 0.1em;
}

h2 {
  font-size: 4em;
  margin: 2.5em 0 1em 0;
  color: #7294CD;
  text-align: left;

}

blockquote {
  font-size: 1.333em;
  color: #008080;
  hanging-punctuation: first;
  text-indent: -0.44em;
}

blockquote cite {
  font-size: 0.75em;
  color: #333
}

p.cite {
  font-family: "Roboto", sans-serif;
}

header h2 {
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

header p {
  font-size: 1.41em;
  text-align: center;
}

hr {
  margin-top: 3em 0;
  height: 1px;
  background: #008080;
  color: #008080;
  border: 0 none
}

.leader {
  text-transform: uppercase;
  color: #008080;
  font-variant-numeric: oldstyle-nums;
}

/*----- STYLING LINKS -----*/
a{
  color: #008080;
  text-decoration: none;
}
a:hover {
  color: #008080;
  border-bottom: 1px dotted;
}

/*----- NAVIGATION -----*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #EFF2F7;
  padding: 1.4em 0;
  font-size: 1.2em;
}

nav ul {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li {
  display: inline;
  margin: 20px;
  background: none;
}

nav a:link {
  color: #7295CD;
}

nav a:visited {
  color: #003838;
}

nav a:hover {
  border-bottom: none;
  color: #8DC2E5;
  transition: all 0.4s ease-in-out;
 }

nav img.monogram {
  width: 3%;
  height: 40px;
  float: center;
  display: block;
  margin-top: 1em;
}



/*-----IMAGE-----*/
img.in {
 width: 5%;
 height: 59px;
 float: center;
 display: block;
 padding: 5px;
float: left;
}

img.ig {
 width: 5%;
 height: 59px;
 float: center;
 display: block;
 padding: 5px;
 float: left;
}

img.mail {
 width: 5%;
 height: 59px;
 float: center;
 display: block;
 padding: 5px;
 float: left;
}




/*-----STYLING TABLE-----*/
table {
  margin: auto;
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  margin-bottom: 2em;
  width: 100%;
}

caption {
  margin: 1.5em 0;
  text-transform: uppercase:
}

th {
